section.layout-5{
  background: #BEFAFE;
  padding: 50px;
}

.search{
  width: 358px;
  height: 40px;
  background: linear-gradient(0deg, #F0F0F0, #F0F0F0), linear-gradient(0deg, #F0F0F0, #F0F0F0), #F0F0F0;
  border-radius: 6px;
  border: none;
  padding-left: 20px;
}
.search-content input:focus{
  outline: none!important;
  box-shadow: 0px 12px 26px rgba(27, 150, 158, 0.2);
}
.search-content{
  position: relative;
  display: flex;
  align-items: center;
}
.search-content button{
  position: absolute;
  left: 341px;
}
.search-content button:hover{
  background: #026970;
  box-shadow: 0px 12px 26px rgba(27, 150, 158, 0.35);
  transition:0.4s;
}
.search-content button{
  width: 120px;
  background: #1B969E;
  box-shadow: 0px 12px 26px rgba(27, 150, 158, 0.2);
  border-radius: 24px;
  border: none;
  height: 42px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #FFFFFF;
}
.search-text h1{
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #026970;
  margin-right: 9px;
}

.search-shares-block{
  display: flex;
  align-items: baseline;
}

@media(max-width: 1200px){
  .search-shares-block {
    display: block!important;
  }
  .search-text h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #026970;
    text-align: center;
  }
  .search-content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content:center;
  }
  .search-content button {
    position: absolute;
    left: 573px;
  }
}
@media(max-width: 991px){
  .search-content button {
    position: absolute;
    left: 508px;
  }
}
@media(max-width: 821px){
  .search-content button {
    position: absolute;
    left: 495px;
  }
}
@media(max-width: 799px){
  .search-text h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #026970;
    text-align: center;
  }
}
@media(max-width: 785px){
  .search-content button {
    position: absolute;
    left: 475px;
  }
}
@media(max-width:767px){
  .search-content button{
    position: absolute;
    left: 341px;
  }
  .search-text h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: #026970;
    text-align: center;
  }
}
@media(max-width: 553px){
  .search {
    width: 314px;
    height: 40px;
    background: linear-gradient(
      0deg,#f0f0f0,#f0f0f0),linear-gradient(
      0deg,#f0f0f0,#f0f0f0),#f0f0f0;
      border-radius: 6px;
      border: none;
      padding-left: 20px;
    }
    .search-content button {
      position: absolute;
      left: 318px;
      font-size: 14px;
    }
  }
  @media(max-width: 539px){
    .search {
      width: 314px;
      height: 40px;
      background: linear-gradient(
        0deg,#f0f0f0,#f0f0f0),linear-gradient(
        0deg,#f0f0f0,#f0f0f0),#f0f0f0;
        border-radius: 6px;
        border: none;
        padding-left: 20px;
      }
      .search-content button {
        position: absolute;
        left: 318px;
        width: 108px;
      }
    }
    @media(max-width: 511px){
      .search-text h1 {
        font-family: Roboto;
        font-style: normal;
        font-weight: 700;
        font-size: 16px!important;
        line-height: 28px;
        color: #026970;
        text-align: center;
      }
      .search-content button {
        position: absolute;
        left: 253px;
      }
    }
    @media(max-width: 445px){
      .search-content button {
        position: absolute;
        left: 226px;
      }
      .search-text h1 {
        font-family: Roboto;
        font-style: normal;
        font-weight: 700;
        font-size: 15px!important;
        line-height: 28px;
        color: #026970;
        text-align: center;
      }
    }
    @media(max-width: 405px){
      .search-content button {
        position: absolute;
        left: 200px;
      }
      .search-text h1 {
        font-family: Roboto;
        font-style: normal;
        font-weight: 700;
        font-size: 13px!important;
        line-height: 28px;
        color: #026970;
        text-align: center;
      }
    }
    @media(max-width: 375px){
     .search-content button {
      position: absolute;
      left: 156px;
    }
    .search-text h1 {
      font-family: Roboto;
      font-style: normal;
      font-weight: 700;
      font-size: 10px!important;
      line-height: 28px;
      color: #026970;
      text-align: center;
    }
  }
  @media(max-width: 335px){
    .search-content button {
      position: absolute;
      left: 136px;
    }
  }